ENV=development
API_BASE_URL=https://dev-api.alivestream.com/v1
AUTH_API_URL=https://dev-auth.alivestream.com/v1
STREAM_API_URL=https://dev-stream.alivestream.com/v1
TIMEOUT=15000
PEXELS_API_KEY=your_pexels_api_key_here
